@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --purple:#8e44ad;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

section{
   padding:3rem 2rem;
}

.empty{
   padding:1.5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   color:var(--red);
   font-size: 2rem;
}

.title{
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color:aqua;
   font-size: 4rem;
}


.btn,
.option-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.btn.proceed-checkout {
   font-size: 1.8rem; 
}

.cts-btn {
    background-color: var(--orange);
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
    width: 100%;
    max-width: 24rem;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.white-btn,
.btn{
   background-color: red;
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.white-btn:hover{
   background-color: var(--white);
   color:var(--black);
}

.heading{
   min-height: 30vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background: url(../image/pexels-fox-213399.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}

.heading h3{
   font-size: 5rem;
   color:whitesmoke;
   text-transform: uppercase;
}


/* cart */
.shopping-cart .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
   align-items: center;
   gap:1.5rem;
   justify-content: center;
}

.shopping-cart .box-container .box{
   text-align: center;
   padding:1.5rem;
   border-radius: .5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   position: relative;
   border:var(--border);
   max-width: 32rem;
   margin:0 auto;
}

.shopping-cart .box-container .box .fa-times{
   position: absolute;
   top:1rem; right:1rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   font-size: 2rem;
   background-color: var(--red);
   color:var(--white);
   border-radius: .5rem;
}

.shopping-cart .box-container .box .fa-times:hover{
   background-color: var(--black);
}

.shopping-cart .box-container .box img{
   height: 18rem;
   max-width: 100%;
   object-fit: cover;
   border-radius: .5rem;
   margin-bottom: 1rem;
}

.shopping-cart .box-container .box .name{
   padding:.5rem 0;
   font-size: 1.8rem;
   color:var(--black);
}

.shopping-cart .box-container .box .price{
   padding:1rem 0;
   font-size: 2.1rem;
   color:var(--red);
}

.shopping-cart .box-container .box input[type="number"]{
   margin:.5rem 0;
   border:var(--border);
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   font-size: 2rem;
   color:var(--black);
   width: 9rem;
}

.shopping-cart .box-container .box .sub-total{
   padding-top: 1.5rem;
   font-size: 1.8rem;
   color:var(--light-color);
}

.shopping-cart .box-container .box .sub-total span{
   color:var(--red);
}

.shopping-cart .cart-total{
   width: 100%;
   max-width: 40rem;
   margin:0 auto;
   border:var(--border);
   padding:2rem;
   text-align: center;
   margin-top: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.shopping-cart .cart-total p{
   font-size: 2.5rem;
   color:var(--light-color);
}

.shopping-cart .cart-total p span{
   color:var(--red);
}

.shopping-cart .cart-total .flex{
   display: flex;
   flex-wrap: wrap;
   column-gap:1rem;
   margin-top: 1.5rem;
   justify-content: center;
}

.shopping-cart .disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
}

/* para hide */
/* Hide the user icon */
.header .header-2 .flex .icons .fas.fa-user {
   display: none; /* This hides the user icon */
}

/* Hide the user box */
.header .header-2 .flex .user-box {
   display: none; /* This hides the user box */
}
